{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="card" src="{{ item.item_image }}" style="height: 300px;" alt="">
        </div>
        <div class="col-md-6">
            <h1>{{ object.item_name }}</h1>
            <h3>{{ object.item_description }}</h3>
            <h5>${{ object.item_price }}</h5>
            <h6>Created By: {{ object.user_name }}</h6>
            <h6>Last Modified By: {{ object.last_modified_by }}</h6>
            <a role="button" class="btn btn-success" href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}