{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    {% block body %}

    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" style="height: 150px" src="{{ item.item_image }}" alt="">
            </div>
            <div class="col-md-4">
                <h3>{{ item.item_name }}</h3>
                <h5>{{ item.item_description}}</h5>
                <h6>${{ item.item_price }}</h6>
                <h6>Created by: {{ item.user_name }}</h6>
            </div>
            <div class="col-md-2">
                <a role="button" class="btn btn-success" href="{% url 'food:detail' item.id %}">Details</a>
                <a role="button" class="btn btn-primary" href="{% url 'food:update_item' item.id %}">Edit</a>
            </div>
        </div>

    {% endfor %}
    {% endblock %}



<!-- 
    {% for item in item_list %}
    <ul>
        <li>
            
            <a href="{% url 'food:detail' item.id %}">{{ item.id }} -- {{ item.item_name}}</a>
        </li>
    </ul>
    {% endfor %} -->

</body>
</html>